.registro {
            border: 1px;
            border-color: black;
        }

        .navbar {
            font-family: 'Lora', serif;

        }

        .h1 {
            text-align: center;
            padding-top: 2cm;
            font-family: 'Lora', serif;
        }

        .card2 {

            background-color: rgba(79, 161, 255, 0.123);
        }

        .mb-3,
        .my-3 {
            margin-bottom: 0rem !important
        }

        .col2 {
            position: relative;
            width: 100%;
            padding-right: 0px;
            padding-left: 267px;
        }

        .col1 {
            position: relative;
            width: 100%;
            padding-right: 11px;
            padding-left: 0px;
        }

        .info-cat {

            margin-right: 0;
            margin-left: 0;
            border-width: .2rem;

        }

        .btn-secondary {
            border-color: #ffffff;
            background-color: #4fa1ff
        }

        .btn-secondary:hover {
            border-color: #ffffff;
            background-color: #4fa1ffa1;

        }

        .btn-secondary:not(:disabled):not(.disabled).active,
        .btn-secondary:not(:disabled):not(.disabled):active,
        .show>.btn-secondary.dropdown-toggle {
            background-color: #4fa1ff
        }

        .wrapper2 {
            font-family: 'Lora', serif;
            width: center;
            max-width: 960px;
            min-width: 200px;
            margin: 1cm 5cm 5cm 5cm;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        .navbar.navbar-expand-lg.navbar-light {
            width: 100%;
            justify-content: space-between;
            background-color: #3787d3
        }


        .btn-outline-success:not(:disabled):not(.disabled).active:focus,
        .btn-outline-success:not(:disabled):not(.disabled):active:focus,
        .show>.btn-outline-success.dropdown-toggle:focus {
            background-color: rgb(79, 161, 255);

        }

        .btn-outline-success.focus,
        .btn-outline-success:focus {
            outline: 0;
            box-shadow: rgba(79, 161, 255, .5)
        }


        .wrapper {
            font-family: 'Lora', serif;
            width: center;
            max-width: 960px;
            min-width: 200px;
            margin: 3cm 5cm 1cm 5cm;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            border: 2px;
            border-color: black;
        }


        .submit:focus {
            background-color: #4fa1ff;
        }

        .btn-outline-success:hover {

            background-color: #4fa1ff;
            border: #4fa1ff
        }


        .bg-light {

            background-color: #4fa1ff;
            position: static
        }

        .dropdown-menu {

            background-color: #4fa1ff;
        }


        .btn-outline-success {

            color: #4fa1ff;
            border-color: #4fa1ff;
        }

        .form-inline {

            color: #3787d3;
            border-color: #4fa1ff;
        }